@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  width: auto;
  display: block;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}


.btn {
  background-color: #ffffff62;
  padding: 12px 62px;
  border: none;
  border-radius: 36px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  color: #fff;
}

.registration .title {
  margin-top: 145px;
  font-size: 96px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.registration {
  width: 100%;
  top: 0;
  height: 100%;
  background-image: url(../img/fon_form.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.form_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  gap: 60px;
}

form {
  width: 480px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.registration::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000054;
  z-index: -1;
}

form .form {
  width: 100%;
  padding: 20px 15px;
  border: 1px solid #00000000;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  overflow-y: scroll;
}

form input {
  background: transparent;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #ffffff !important;
  border: none;
  border-bottom: 1px solid #ffffff !important;
  padding: 8px;
}

form .btn {
  width: 100%;
  border: 1px solid #1f538fcc !important;
  color: var(--card) !important;
  background: transparent;
  transition: 0.3s all;
}

form .btn:hover {
  background: #1f538fcc;
  color: var(--card) !important;
}

form .p2 {
  color: var(--card);
}

form .p2.error {
  color: #a51010;
}

form .p2 a {
  color: var(--card);
  text-decoration: underline;

}

form .p2 a:hover {
  text-decoration: none;
}

form input:focus {
  outline: none;
}

form .form::placeholder {
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 720px) {
  .registration .title {
    font-size: 72px;
  }

  form .form {
    padding: 20px 15px 5px 5px;
  }
}

@media (max-width: 560px) {
  .registration .title {
    font-size: 55px;
  }
}

@media (max-width: 520px) {
  form {
    width: 100%;
    gap: 15px;
  }

  form .form {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .registration .title {
    font-size: 40px;
  }

  form .btn {
    padding: 15px;
    font-size: 20px;
    height: 62px;

  }
}